<div id="banner" class="row"
     ng-class="dev ? 'bg-warning-subtle' : 'bg-success-subtle'">
    <div class="col-md-4 col-8">
        <div class="banner-id h1">Dayary</div>
        <div class="banner-id">
            <div>day by day</div>
            <div>v{{version}}<span ng-show="dev"> dev</span></div>
        </div>
    </div>

    <div class="col-4 d-md-none" ng-hide="locked()">
        <div>
            <button class="btn btn-success float-end" ng-click="toggleMenu()" ng-hide="showMenu">
                <span class="fa fa-bars"></span>
            </button>
        </div>

        <div ng-show="showMenu">
            <div>
                <a class="btn btn-success w-100" ui-sref="records">
                    Records
                </a>
            </div>

            <div>
                <a class="btn btn-success w-100" ui-sref="years">
                    Years
                </a>
            </div>

            <div>
                <a class="btn btn-success w-100" ui-sref="dropbox">
                    Dropbox
                </a>
            </div>

            <div>
                <a class="btn btn-success w-100" ui-sref="settings">
                    Settings
                </a>
            </div>

            <div>
                <button class="btn btn-success w-100" ng-click="lock()">
                    Lock
                </button>
            </div>

            <div>
                <button class="btn btn-success w-100" ng-click="toggleMenu()">
                    Close menu
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-8 d-none d-md-block" ng-hide="locked()">
        <div class="float-end">
            <a class="btn btn-success" ui-sref="records">
                Records
            </a>

            <a class="btn btn-success" ui-sref="years">
                Years
            </a>

            <a class="btn btn-success" ui-sref="dropbox">
                Dropbox
            </a>

            <a class="btn btn-success" ui-sref="settings">
                Settings
            </a>

            <button class="btn btn-success" ng-click="lock()">
                Lock
            </button>
        </div>
    </div>
</div>

<!-- TODO: make this notification/alert area, not error only -->
<div class="row">
    <div class="col-12">
        <div class="bg-danger-subtle" ng-show="error">
            Error: {{error}}
            <button type="button" class="btn-close float-end"
                    ng-click="unsetError()">
            </button>
        </div>
    </div>
</div>
