<h2>Dropbox</h2>

<div ng-hide="isAuthenticated">
    Not logged in yet -
    <a href="www/login/dropbox.html" class="btn btn-success">
        Login
    </a>
</div>

<div ng-show="isAuthenticated && !isReady">
    Preparing Dropbox service...
    <span class="fa fa-spinner fa-spin">
</div>

<div ng-show="isReady">
    <div>
        <button class="btn btn-success" ng-click="getData()">
            Get data
        </button>
        Logged in as - {{dropboxUser}}
    </div>

    <br />

    <div>
        <div>
            <button class="btn btn-success"
                    ng-click="listFiles()"
                    ng-disabled="listing">
                List files
            </button>

            <span ng-show="listing" class="fa fa-spinner fa-spin">
            </span>
        </div>

        <br />

        <div ng-repeat="file in files">
            {{file.name}} - {{file.size}} Bytes
        </div>

        <br />

        <div>
            <button class="btn btn-success"
                    ng-click="autoSync()"
                    ng-disabled="syncing">
                Auto sync
            </button>

            <span ng-show="syncing" class="fa fa-spinner fa-spin">
            </span>
        </div>
    </div>
</div>
