<h2>Dropbox</h2>

<div ng-hide="isAuthenticated">
    Not logged in yet -
    <a href="/login/dropbox.html" class="btn btn-success">
        Login
    </a>
</div>

<div ng-show="isAuthenticated">
    <div>
        <button  class="btn btn-success"ng-click="getData(year)">
            Get data
        </button>
        Logged in as - {{dropboxUser}}
    </div>

    <br />

    <div>
        <div>
            <button class="btn btn-success"
                    ng-click="backupYear(year)"
                    ng-disabled="backuping">
                Backup year
            </button>

            <!-- TODO: make this <select> -->
            <input type="text" ng-model="year">

            <span ng-show="backuping" class="fa fa-spinner fa-spin">
            </span>

            {{backupResult}}
        </div>

        <br />

        <div ng-repeat="message in backupMessages">
            {{message}}
        </div>

        <div>
            <button class="btn btn-success"
                    ng-click="listFiles()"
                    ng-disabled="listing">
                List files
            </button>

            <span ng-show="listing" class="fa fa-spinner fa-spin">
            </span>
        </div>

        <br />

        <div ng-repeat="file in files">
            {{file.name}} - {{file.humanSize}}
        </div>
    </div>
</div>
