<html ng-app="app">
<head>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="site.css" rel="stylesheet">

    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
</head>

<body class="container" ng-controller="ctrl">
    <div class="row">
        <div class="bg-success col-sm-12">
            <span class="h1">Dayary</span> - day by day
        </div>

        <div class="col-sm-3">
            <h2>Records</h2>

            <div>
                <button class="btn btn-success" ng-click="add()">
                    Add
                </button>
            </div>

            <br />

            <ul class="list-unstyled">
                <li ng-repeat="record in records"
                    ng-class="{ 'bg-success': (record == selected) }">

                    <a ng-click="select(record)" href="#">
                        {{record.date}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9">
            <h2>{{selected.date}}</h2>

            <div>
                <button class="btn btn-success"
                        ng-hide="editing"
                        ng-click="edit(selected)">
                    Edit
                </button>
                <button class="btn btn-success"
                        ng-show="editing"
                        ng-click="view(selected)">
                    View
                </button>
            <div>

            <br />

            <p ng-hide="editing">
                <!-- TODO: split by paragraphs -->
                {{selected.text}}
            </p>

            <textarea ng-show="editing"
                      ng-model="selected.text" ng-trim="false"
                      rows=15 class="text-editor"
                      placeholder="Enter text here...">
            </textarea>
        </div>
    </div>
<body>
</html>
