<div class="col-md-3">
    <h2>Locked</h2>

    <div>Enter the pass phrase:</div>

    <!-- TODO: use ngEnter from
         http://stackoverflow.com/questions/17470790/how-to-use-a-keypress-event-in-angularjs -->
    <input type="text"
           ng-model="passphrase"
           ng-trim="false"
           ng-keypress="($event.which === 13) ? enter() : 0">

    <div class="bg-danger" ng-show="invalidPassphrase()">
        Invalid Pass Phrase
    </div>

    <br />
    <br />

    <button class="btn btn-success"
            ng-click="enter()"
            ng-disabled="invalidPassphrase()">
        Enter
    </button>
</div>
