<div class="col-md-3">
    <h2>Locked</h2>

    <div>Pass phrase:</div>

    <!-- TODO: use ngEnter from
         http://stackoverflow.com/questions/17470790/how-to-use-a-keypress-event-in-angularjs -->
    <input type="password"
           ng-model="passphrase"
           ng-trim="false"
           ng-keypress="($event.which === 13) ? enter() : 0">

    <br />
    <br />

    <div>
        <input type="checkbox" ng-model="showPassphrase">
        Show pass phrase in clear text

        <div ng-show="showPassphrase">
            {{passphrase}}
        </div>
    </div>


    <br />
    <div class="bg-danger" ng-show="invalidPassphrase()">
        Wrong Pass Phrase
    </div>

    <br />
    <br />

    <button class="btn btn-success"
            ng-click="enter()"
            ng-disabled="invalidPassphrase()">
        Enter
    </button>
</div>
