<div class="col-sm-3">
    <h2>Records</h2>

    <div>
        <button class="btn btn-success" ng-click="add()">
            Add
        </button>
    </div>

    <br />

    <ul class="list-unstyled">
        <!-- TODO: show ajax-loader while loading -->

        <li ng-repeat="record in records"
            ng-class="{ 'bg-success': (record.id == selected.id) }">

            <a ui-sref="records.item({ id: record.id })">
                {{record.created | date : 'yyyy-MM-dd'}}
            </a>
            <!-- TODO: use fa-remove, not mere 'x' -->
            <!-- TODO: show this only for selected/hovered items -->
            <a href='#' class="pull-right"
               ng-click="removing = true">
                x
            </a>
            <div ng-show="removing">
                <button class="btn btn-success" ng-click="remove(record)">
                    Confirm
                </button>
                <button class="btn btn-success" ng-click="removing = false">
                    Oh, no
                </button>
            </div>
        </li>
    </ul>
</div>

<div class="col-sm-9">
    <div ui-view></div>

    <div ng-show="records.length === 0" class="bg-success col-sm-12">
        Looks like this is a fresh new diary. Start by hitting 'Add' to
        add a new record.
    </div>
</div>

