<div class="col-sm-3">
    <h2>Records</h2>

    <div>
        <button class="btn btn-success" ng-click="add()">
            Add
        </button>
    </div>

    <br />

    <div ng-show="loadingRecordsList">
        <span class="fa fa-spinner fa-spin"></span>
    </div>

    <ul id="records-list" ng-hide="loadingRecordsList" class="list-unstyled">

        <!-- http://stackoverflow.com/questions/28154304/list-and-pull-left-makes-stair -->
        <li ng-repeat="record in records()"
            class="clearfix"
            ui-sref-active="bg-success">

            <a ui-sref="records.item({ id: record.id })">
                {{record.created | date : 'yyyy-MM-dd'}}
            </a>

            <!-- TODO: show this only for selected/hovered items -->
            <button type="button" class="close pull-right"
                    ng-click="removing = true">
                <span>&times;</span>
            </button>
            <div ng-show="removing">
                <button class="btn btn-success" ng-click="remove(record)">
                    Confirm
                </button>
                <button class="btn btn-success" ng-click="removing = false">
                    Stop
                </button>
            </div>
        </li>
    </ul>
</div>

<div class="col-sm-9">
    <div ui-view></div>

    <div ng-show="records.length === 0" class="bg-success col-sm-12">
        Looks like this is a fresh new diary. Start by hitting 'Add' to
        add a new record.
    </div>
</div>
