<div class="col-sm-3">
    <h2>Settings</h2>
    <div>
        <button class="btn btn-success"
                ng-disabled="saving"
                ng-click="save()">
            Save
        </button>

        <span ng-show="saving" class="fa fa-spinner fa-spin">
        </span>
    </div>

    <br />

    <div>Auto Save (sec):</div>
    <input type="number" ng-model="settings.autosaveIntervalSec">

    <br />
    <br />

    <div>Lock timeout (min):</div>
    <input type="number" ng-model="settings.lockTimeoutMin">

    <br />
    <br />

    <div>Lock when get out of focus:</div>
    <input type="checkbox" ng-model="settings.lockOnBlur">

    <br />
    <br />

    <div>Dropbox folder:</div>
    <input type="text" ng-model="settings.dropboxFolder">
</div>

<div class="col-sm-6">
    <h2>Migration</h2>

    <div>
        <button class="btn btn-success"
                ng-disabled="migrating"
                ng-click="migrate()">
            Migrate
        </button>

        <span ng-show="migrating" class="fa fa-spinner fa-spin">
        </span>
    </div>

    <br />

    <div>
        Migrate data from the server to the local database.
    </div>

    <br />

    <div ng-repeat="message in migrateMessages">
        {{message}}
    <div>
</div>
