<div class="col-sm-12">
    <h2>Settings</h2>
    <div>
        <button class="btn btn-success"
                ng-click="done()"
                ng-disabled="invalidPassphrase()">
            Done
        </button>
    </div>

    <br />

    <div>Pass Phrase:</div>
    <input type="text" ng-model="passphrase" ng-trim="false">
    <div class="bg-danger" ng-show="invalidPassphrase()">
        Invalid Pass Phrase
    </div>

    <br />
    <br />

    <div>Auto Save (sec):</div>
    <input type="number" ng-model="settings.autosaveIntervalSec">

    <br />
    <br />

    <div>Lock timeout (min):</div>
    <input type="number" ng-model="settings.lockTimeoutMin">

    <br />
    <br />

    <div>Lock when get out of focus:</div>
    <input type="checkbox" ng-model="settings.lockOnBlur">

    <br />
    <br />

    <div>Dropbox folder:</div>
    <input type="text" ng-model="settings.dropboxFolder">
</div>
