<h2>{{record.created | date : 'EEEE, dd.MM.y, HH:mm'}}</h2>

<!-- TODO: not sure this is the best way to show/hide parts -->
<div ng-show="$state.current.name === 'records.item'">
    <div>
        <button class="btn btn-success" ng-click="startEdit()">
            Edit
        </button>

        <span class="bg-success pull-right">
            {{record.text.length}} chars
        </span>
    </div>

    <br />

    <div ng-show="loadingRecord">
        <span class="fa fa-spinner fa-spin"></span>
    </div>

    <!-- Use ng-bind to ensure no spare spaces of white lines -->
    <div id="text-viewer" ng-hide="loadingRecord">
        <p ng-repeat="paragraph in paragraphs">
            {{paragraph}}
        </p>
    </div>

    <span class="pull-right">
        last updated on
        {{record.updated | date : 'EEEE, dd.MM.y, HH:mm'}}
    </span>
</div>

<div ng-hide="$state.current.name === 'records.item'">
    <div ui-view></div>
</div>
