<div class="col-sm-3">
    <h2>Years</h2>

    <ul class="list-unstyled">
        <li ng-repeat="(year, data) in records"
            ng-class="{ 'bg-success' : selectedYear == year }">

            <a href="" ng-click="selectYear(year)">
                {{year}}
            </a>
            <span class="pull-right">
                {{data.count}}
            </span>
        </li>
    </ul>
</div>

<div class="col-sm-3">
    <h2>Months</h2>

    <ul class="list-unstyled">
        <li ng-repeat="(month, data) in records[selectedYear].months"
            ng-class="{ 'bg-success' : selectedMonth == month }">

            <span ng-show="data.length > 0">
                <a href="" ng-click="selectMonth(month)">
                    {{months[month]}}
                </a>
            </span>
            <span ng-show="data.length === 0">
                {{months[month]}}
            </span>
            <span class="pull-right">
                {{data.length}}
            </span>
        </li>
    </ul>
</div>

<div class="col-sm-3">
    <h2>Days</h2>

    <ul class="list-unstyled">
        <li ng-repeat="record in records[selectedYear].months[selectedMonth]">

            <a ui-sref="records.item({ id: record.id })">
                {{record.created | date : 'yyyy-MM-dd'}}
            </a>
        </li>
    </ul>
</div>

